<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--Servers to collect-->

    <bean class="com.tenacity.billing.RemoteServer" id="tenacity">
        <property name="name" value="tenacity-Pysix"></property>
        <property name="address" value="192.168.0.2"></property>
        <property name="username" value="root"></property>
        <property name="password" value="advah310755"></property>
        <property name="database" value="asteriskcdrdb"></property>
        <property name="port" value="3306"></property>
        <property name="table" value="cdr"></property>
        <property name="numberMap" ref="defaultNumberMap"></property>
        <property name="callFile" value="tenacity-calls.txt"></property>
        <property name="lessSpaces" value="true"></property>
    </bean>


    <!--bean that will contain the servers-->
    <util:list id="remoteServers" value-type="com.tenacity.billing.RemoteServer">
        <ref bean="tenacity"/>
        <ref bean="tenacity-gsm"/>
    </util:list>



    <util:map id="defaultExtension" value-type="java.lang.String">
        <entry key="regex" value="^([0-9*#]{4})$"></entry>
        <entry key="type" value="EXTENSION"></entry>
    </util:map>

    <util:map id="defaultDDD" value-type="java.lang.String">
        <entry key="regex" value="^00([1-9]{2})(\d{10,11})$"></entry>
        <entry key="type" value="PSTN"></entry>
        <entry key="replacement" value="0$1$2"></entry>
    </util:map>

    <util:map id="defaultLocal" value-type="java.lang.String">
        <entry key="regex" value="^0([0-9*#]{8,9})$"></entry>
        <entry key="type" value="PSTN"></entry>
        <entry key="replacement" value="$1"></entry>
    </util:map>

    <util:map id="defaultCallerId" value-type="java.lang.String">
        <entry key="regex" value="^([1-9][1-9][0-9]{8,9})$"></entry>
        <entry key="type" value="PSTN"></entry>
        <entry key="replacement" value="$1"></entry>
    </util:map>

    <util:map id="replaceExtension" value-type="java.lang.String">
        <entry key="regex" value="^61([0-9*#]{2})$"></entry>
        <entry key="type" value="EXTENSION"></entry>
        <entry key="replacement" value="96$1"></entry>
    </util:map>

    <util:map id="replaceDDD" value-type="java.lang.String">
        <entry key="regex" value="^00([1-9]{2})(\d{10,11})$"></entry>
        <entry key="type" value="PSTN"></entry>
        <entry key="replacement" value="021$2"></entry>
        <entry key="route" value="001"></entry>
        <entry key="line" value="1000"></entry>
    </util:map>

    <util:list id="defaultNumberMap" value-type="java.util.Map">
        <ref bean="defaultExtension"></ref>
        <ref bean="defaultDDD"></ref>
        <ref bean="defaultLocal"></ref>
        <ref bean="defaultCallerId"></ref>
    </util:list>

    <util:list id="replaceNumberMap" value-type="java.util.Map">
        <ref bean="replaceExtension"></ref>
        <ref bean="replaceDDD"></ref>
    </util:list>

</beans>